* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background: #2b2b2b;
}

.checkbox {
    height: 160px;
    width: 320px;
    background: #222;
    appearance: none;
    border-radius: ;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}